<div class="container">

  <div class="button-group d-lg-none mt-3">
    <button class="btn btn-primary" routerLink="/brew/resume">Resume</button>
    <button class="btn btn-secondary" routerLink="/brew">Brews</button>
    <button class="btn btn-secondary" routerLink="/brew/edit/0"><i class="fa fa-plus-circle"></i> New brew</button>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-pid name="Pid 1" [pidId]="0"></app-pid>
    </div>
    <div class="col-md-6">
      <app-pid name="Pid 2" [pidId]="1"></app-pid>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Remote
    </div>
    <div class="card-body">

      <app-common-output></app-common-output>

    </div>
  </div>

</div>
