.fixed-top {
  margin-top: 56px;
  z-index: 2;
}

.fixed-top-2 {
  margin-top: 56px;
  z-index: 2;
}

.x-page-header-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.x-page-header-button-row button,
.x-page-header-button-row a {
  margin-right: 8px !important;
}
