<div class="container mt-4" *ngIf="brew">

  <div class="form-group row">
    <div class="col-sm-9">
      <button class="btn btn-primary" type="button" (click)="save()" [disabled]="!myForm.valid">Save brew</button>
      <button class="btn btn-danger" type="button" *ngIf="brew.id>0" (click)="delete()">Delete</button>
      <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
    </div>
  </div>

  <form class="form-horizontal" #myForm="ngForm" (ngSubmit)="save();">
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="name" placeholder="Name" required minlength="1" maxlength="100" name="name" [(ngModel)]="brew.name"
          #name="ngModel">
        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
          <div [hidden]="!name.errors.required">
            Name is required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="batchNumber" class="col-sm-3 col-form-label">Batch number</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" id="batchNumber" placeholder="Batch number" required pattern="[1-9][0-9]{0,2}"
          name="batchNumber" [(ngModel)]="brew.batchNumber" #batchNumber="ngModel">
        <div *ngIf="batchNumber.errors && (batchNumber.dirty || batchNumber.touched)" class="alert alert-danger">
          <div [hidden]="!batchNumber.errors.required">
            Batch number is required
          </div>
          <div [hidden]="!batchNumber.errors.pattern">
            The value must be in range 1 to 9999!
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="beginMash" class="col-sm-3 col-form-label">Brew time (mash)</label>
      <div class="col-sm-3">


        <!-- <input ngui-datetime-picker class="form-control" id="beginMash" placeholder="Brew date" required name="beginMash" [(ngModel)]="brew.beginMash"
          #beginMash="ngModel" date-format="YYYY-MM-DD HH:mm"> -->

        <input [id]="beginMash" name="beginMash" required=true placeholder="yyyy-mm-dd" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
          [(ngModel)]="brew.beginMash" class="form-control">
        <owl-date-time #dt1></owl-date-time>


        <!-- <div *ngIf="beginMash.errors && (beginMash.dirty || beginMash.touched)" class="alert alert-danger">
          <div [hidden]="!beginMash.errors.required">
            Brew time is required
          </div>
        </div> -->
      </div>
    </div>
    <div class="form-group row">
      <label for="mashTemp" class="col-sm-3 col-form-label">Mash temp</label>
      <div class="col-sm-2 input-group">
        <input type="number" step="0.1" class="form-control" id="mashTemp" placeholder="Mash temp" required name="mashTemp" [(ngModel)]="brew.mashTemp"
          #mashTemp="ngModel" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">ºC</span>
        </div>
      </div>
      <div *ngIf="mashTemp.errors && (mashTemp.dirty || mashTemp.touched)" class="alert alert-danger">
        <div [hidden]="!mashTemp.errors.required">
          Mash temp is required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="strikeTemp" class="col-sm-3 col-form-label">Strike temp</label>
      <div class="col-sm-2 input-group">
        <input type="number" step="0.1" class="form-control" id="strikeTemp" placeholder="Strike temp" required name="strikeTemp"
          [(ngModel)]="brew.strikeTemp" #strikeTemp="ngModel" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">ºC</span>
        </div>
      </div>
      <div *ngIf="strikeTemp.errors && (strikeTemp.dirty || strikeTemp.touched)" class="alert alert-danger">
        <div [hidden]="!strikeTemp.errors.required">
          Strike temp is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="spargeTemp" class="col-sm-3 col-form-label">Sparge temp</label>
      <div class="col-sm-2 input-group">
        <input type="number" step="0.1" class="form-control" id="spargeTemp" placeholder="Sparge temp" required name="spargeTemp"
          [(ngModel)]="brew.spargeTemp" #spargeTemp="ngModel" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">ºC</span>
        </div>
      </div>
      <div *ngIf="spargeTemp.errors && (spargeTemp.dirty || spargeTemp.touched)" class="alert alert-danger">
        <div [hidden]="!spargeTemp.errors.required">
          Sparge temp is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="mashOutTemp" class="col-sm-3 col-form-label">Mash out temp</label>
      <div class="col-sm-2 input-group">
        <input type="number" step="0.1" class="form-control" id="mashOutTemp" placeholder="Mash out temp" required name="mashOutTemp"
          [(ngModel)]="brew.mashOutTemp" #mashOutTemp="ngModel" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">ºC</span>
        </div>
      </div>
      <div *ngIf="mashOutTemp.errors && (mashOutTemp.dirty || mashOutTemp.touched)" class="alert alert-danger">
        <div [hidden]="!mashOutTemp.errors.required">
          Mash out temp is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="mashTimeInMinutes" class="col-sm-3 col-form-label">Mash time</label>
      <div class="col-sm-2 input-group">
        <input type="number" step="1" class="form-control" id="mashTimeInMinutes" placeholder="Mash time" required name="mashTimeInMinutes"
          [(ngModel)]="brew.mashTimeInMinutes" #mashTimeInMinutes="ngModel" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">mins</span>
        </div>
      </div>
      <div *ngIf="mashTimeInMinutes.errors && (mashTimeInMinutes.dirty || mashTimeInMinutes.touched)" class="alert alert-danger">
        <div [hidden]="!mashTimeInMinutes.errors.required">
          Mash time is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="boilTimeInMinutes" class="col-sm-3 col-form-label">Boil time</label>
      <div class="col-sm-2 input-group">
        <input type="number" step="1" class="form-control" id="boilTimeInMinutes" placeholder="Boil time" required name="boilTimeInMinutes"
          [(ngModel)]="brew.boilTimeInMinutes" #boilTimeInMinutes="ngModel" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">mins</span>
        </div>
      </div>
      <div *ngIf="boilTimeInMinutes.errors && (boilTimeInMinutes.dirty || boilTimeInMinutes.touched)" class="alert alert-danger">
        <div [hidden]="!boilTimeInMinutes.errors.required">
          Boil time is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="batchSize" class="col-sm-3 col-form-label">Batch size</label>
      <div class="col-sm-2 input-group">
        <input type="number" step="1" class="form-control" id="batchSize" placeholder="Batch size" required name="batchSize" [(ngModel)]="brew.batchSize"
          #batchSize="ngModel" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">l</span>
        </div>
      </div>
      <div *ngIf="batchSize.errors && (batchSize.dirty || batchSize.touched)" class="alert alert-danger">
        <div [hidden]="!batchSize.errors.required">
          Batch size is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="mashWaterAmount" class="col-sm-3 col-form-label">Mash water amount</label>
      <div class="col-sm-2 input-group">
        <input type="number" step="1" class="form-control" id="mashWaterAmount" placeholder="Mash water amount" required name="mashWaterAmount"
          [(ngModel)]="brew.mashWaterAmount" #mashWaterAmount="ngModel" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">l</span>
        </div>
      </div>
      <div *ngIf="mashWaterAmount.errors && (mashWaterAmount.dirty || mashWaterAmount.touched)" class="alert alert-danger">
        <div [hidden]="!mashWaterAmount.errors.required">
          Mash water amount is required
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="spargeWaterAmount" class="col-sm-3 col-form-label">Sparge water amount</label>
      <div class="col-sm-2 input-group">
        <input type="number" step="1" class="form-control" id="spargeWaterAmount" placeholder="Sparge water amount" required name="spargeWaterAmount"
          [(ngModel)]="brew.spargeWaterAmount" #spargeWaterAmount="ngModel" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">l</span>
        </div>
      </div>
      <div *ngIf="spargeWaterAmount.errors && (spargeWaterAmount.dirty || spargeWaterAmount.touched)" class="alert alert-danger">
        <div [hidden]="!spargeWaterAmount.errors.required">
          Sparge water amount is required
        </div>
      </div>
    </div>

  </form>
</div>
